* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 1320px;
    margin: 0 auto;
}
.nav1 {
    width: 100%;
    height: 45px;
    background-color: #272343;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: white;
}
.divnavtext {
    display: flex;
    align-items: center;
}
.divnavtext1 {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.nav1vlevo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:310px;
}
.imgnav1 {
    margin-right: 5px;
    margin-left: 5px;
}
.imgnav12 {
    margin-right: 24px;
}
.imgnav2 {
    margin-left: 30px;
}
a {
    color: white;
    text-decoration: none;
}
.nav2 {
    width: 100%;
    height: 84px;
    background-color: #F0F2F3;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: black;
}
.nav2vlevo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 160px;
}
.nav2pravo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
}
.divnav2text {
    display: flex;
    align-items: center;
    margin-right: 254px;
}
.navblock {
    width: 413px;
    height: 44px;
    background-color: white;
    color: #9A9CAA;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px; 
} 
.navblock2 {
    width: 120px;
    height: 44px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px; 
}
.navblock3 {
    width: 44px;
    height: 44px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px; 
    margin-left: 12px;
}
.navblock4 {
    width: 44px;
    height: 44px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px; 
    margin-left: 12px;
}
.nav3 {
    width: 100%;
    height: 75px;
    background-color: white;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: black;
}
.navvlevo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.anav3 {
    color: #636270;
    text-decoration: none;
    margin-left: 32px;
    transition: color 0.5s;
}
.anav3:hover {
    color: #007580;
  }
.navblock5{
    width: 176px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    border-color: #E1E3E5;
    border-style: solid;
    border-width: 1px;

}
.p1ntextcolornav3 {
    color: #636270;
}