* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    max-width: 1320px;
    margin: 0 auto;
}
.nav1 {
    width: 100%;
    height: 45px;
    background-color: #272343;
}
.divnavtext {
    display: flex;
    align-items: center;
}
.divnavtext1 {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.mainnav1 { 
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: white;
}
.nav1pravblock { 
    display: flex;
    align-items: center;
}
.imgnav1 {
    margin-right: 5px;
    margin-left: 5px;
}
.imgnav12 {
    margin-right: 24px;
}
.imgnav2 {
    margin-left: 30px;
}
a {
    color: white;
    text-decoration: none;
}
.nav2 {
    width: 100%;
    height: 84px;
    background-color: #F0F2F3;
}
.mainnav2 {
    height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: black;
}
.nav2vlevo {
    display: flex;
    align-items: center;
    margin-left: 135px;
}
.nav2pravo {
    display: flex;
    align-items: center;
    margin-right: 135px;
}
.divnav2text {
    display: flex;
    align-items: center;
    margin-right: 254px;
}
.navblock {
    width: 413px;
    height: 44px;
    background-color: white;
    color: #9A9CAA;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px; 
} 
.navblock2 {
    width: 120px;
    height: 44px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px; 
}
.navblock3 {
    width: 44px;
    height: 44px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px; 
    margin-left: 12px;
}
.navblock4 {
    width: 44px;
    height: 44px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px; 
    margin-left: 12px;
}
.nav3 {
    width: 100%;
    height: 75px;
    box-shadow: 0 4px 2px -2px #E1E3E5;
    position: relative;
    z-index: 2;
}
.mainnav3 {
    height: 75px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: black;
}
.navvlevo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.anav3 {
    color: #636270;
    text-decoration: none;
    margin-left: 32px;
    transition: color 0.5s;
}
.anav3:hover {
    color: #007580;
  }
.navblock5{
    width: 176px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    border-color: #E1E3E5;
    border-style: solid;
    border-width: 1px;

}
.p1ntextcolornav3 {
    color: #636270;
}
.glav {
    display: flex;
    align-items:center;
    justify-content: center;
    width:  1740px;
    height: 850px;
    margin-left: 90px;
    background-color: #F0F2F3;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    position: relative; 
    z-index: --;
}
.glavimg {
    margin-left: 88px;
}
.glavimgbatton {
    margin-left: 20px;
}
.glavimgbatton1 {
    margin-right: 88px;
}
.glavimgchair {
    margin-bottom: 110px;
    margin-right: 35px;
}
.glavtextp1 {
    font-size: 14px;
    color: #272343;
}
.glavtexth1 {
    font-size: 68px;
    color: #272343;
}
.glavblock {
    margin-left: 70px;
}
.glavbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 52px;
    background-color: #029FAE;
    color: white;
    border-radius:10px ;
    margin-top: 40px;
}
.blockFeature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1320px;
    height:150px;
    background-color: white;
    position: absolute;
    margin-right: 60px;
    margin-top: 836px;
    border-radius: 10px;
}
.textFeature {
    display: flex;
    align-items: center;
}
.Featuretext1 {
    color: #9A9CAA;
}
.Featureblock {
    padding-left: 10px;
}
.h4glav {
    padding-bottom: 6px;
}
.companylogo {
    width: 1321px;
    height: 139px;
    background-color: white;
    margin-top: 101px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.imgcompanylogo {
    margin-left: 106px;
}
.Featured-Products {
    display: grid;
    align-items: center;
    grid-template-columns:1fr,1fr,1fr;
    margin-bottom: 20px;
}
.navHeading {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.nav-buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    grid-column-gap:24px;
    grid-row-gap:24px;
}
.bcimage {
    display: flex;
    width: 312px;
    height: 312px;
}
.blockproduct1 {
    height: 377px;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 10px;
}
.blockproduct2 {
    height: 377px;
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 10px;
}
.blockproduct3 {
    height: 377px;
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 10px;
}
.blockproduct4 {
    height: 377px;
    background-color: white;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius: 10px;
}
.imgproduct {
    margin-top: 20px;
    margin-left: 20px;
}
.imgproduct2 {
    margin-top: 20px;
    margin-left: 175px;
}
.imgproduct3 {
    margin-top: 20px;
    margin-left: 20px;
}
.navedprodeuct {
    color: #000000;
    text-decoration: none;
    transition: color 0.5s;
}
.navedprodeuct:hover {
    color: #007580;
  }
.h4product {
   margin-top: 10px;
}
.blockcartbotton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blockcart {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.price-box {
    display: flex;
    align-items: center;
}
.old-price {
    color: #a0aec0;
    text-decoration: line-through;
    font-size: 13px;
    margin-left: 4px;
    margin-top: 7px;
}
.Top-categories {
    display: grid;
    align-items: center;
    grid-template-columns:1fr,1fr,1fr;
    margin-bottom: 20px;
    margin-top: 84px;
}
.categories {
    display: grid;
    grid-template-columns: 1fr 1320px 1fr;
    align-items: stretch;
    gap: 20px;
}
.categories-center {
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr,1fr;
    gap: 20px;
}
.blockcategories {
    height: 424px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
}
.blockcategories2 {    
    height: 424px;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.blockcategories3 {   
    height: 424px;
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.blockcategories4 {  
    height: 424px;
    grid-column-start: 5;
    grid-column-end: 7;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.bloccard {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
  }
  .bloccard1 {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
  }
  .bloccard2 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
  }
.navour-poduser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}
.navour-poduserh {
    font-size: 35px;
    color: #272343;
}
.navour-poduser1 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.navedourprodes {
    color: #9A9CAA;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 18px;
}
.navedourprodes:hover {
    color: #272343;
  }
.blocknavedour {
    width: 46px;
    height: 2px;
    background-color: green;
}
.blocknavedour2 {
 display: flex;
 align-items: center;
 flex-direction: column;
 color: #272343;
}
.blocknavedour1 {
    margin-left: 16px;
    margin-bottom: 3px;
}
.our-products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    grid-column-gap:24px;
    grid-row-gap:24px;
}
.bgwcsau {
    width: 100%;
    height: 589px;
    background-color: #F0F2F3;
    margin-top: 80px;
}
.navwcsau {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-top: 80px;
    font-size: 22px;
    color: #272343;
}
.gridwcsau {
    display: grid;
    grid-template-columns: 1fr,1fr;
    gap: 20px;
}
.blockwcsau1 {
    margin-top: 40px;
    height: 345px;
    background-color: white;
    border-radius: 10px;
    grid-column-start:1;
    grid-column-end:2;
}
.blockwcsau {
    margin-top: 40px;
    height: 345px;
    background-color: white;
    border-radius: 10px;
    grid-column-start:2;
    grid-column-end:3;
}
.grinline {
    width: 2px;
    height: 180px;
    background-color: #029FAE;
    margin: 40px;
}
.grinline1 {
    width: 568px;
    height: 180px;
    font-size: 20px;
    padding-left: 24px;
    line-height: 1.5;
    color: #636270;
}
.textFeature1 {
    display: flex;
    align-items: center;
    width: 648px;
    height: 60px;
    margin-top: 25px;
}
.Featuretext11 {
    color: #9A9CAA;
}
.Featureblock1 {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imgwcsau {
    margin-left: 228px;
}